@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
/* Resets - start*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Resets - end*/

/* Variables - start */

:root {
    --primary: #f8dbc9;
    --secondary: #033d68;
}

/* Variables - end */

body {
    font-family: 'Yellowtail', 'sans-serif';
    background-color: var(--primary);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header - start */

header {
    color: var(--secondary);
    height: 140px;
}

header h1 {
    font-size: 80px;
    word-spacing: 10px;
}

#btn-add {
    margin-top: 30px;
    font-size: 22px;
    word-spacing: 5px;
    background-color: var(--primary);
    color: var(--secondary);
    border: #033d68 2px solid;
    font-weight: bold;
    cursor: pointer;
}

#btn-add:hover {
    background-color: var(--secondary);
    color: var(--primary);
}


/* Header - end */

/* Books - start*/

#books {
    margin: 75px auto;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    padding: 30px;
    min-width: 350px;
    min-height: 400px;
    border: 3px #033d68 solid;
    background-color: #f8f3c9;
    border-radius: 5px;
    color: #033d68;
}

.book p {
    font-size: 26px;
    text-align: center;
    width: 100%;
    min-height: 30px;
    overflow: hidden;
}

.book .btn {
    padding: 10px 20px;
    width: 160px;
    height: 50px;
    font-size: 16px;
    background-color: #f8dbc9;
    color: #033d68;
    border: 2px #033d68 solid;
    cursor: pointer;
}

#books .book .btn-read:hover{
    color: #210f04;
    opacity: 0.8;
}

/* Books - end*/

/* Footer - start */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}

footer p {
    color: var(--secondary);
    font-size: 20px;
    word-spacing: 5px;
}

footer a {
    color: var(--secondary);
}

footer i:hover {
    -webkit-animation: spin 0.5s linear 1;
    -moz-animation: spin 0.5s linear 1;
    animation: spin 0.5s linear 1;
}

/* Footer - end */

/*Fixed add button - start*/

#fixed-btn-container {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#fixed-add-btn {
    border-radius: 50%;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0;
    height: 80px;
    width: 80px;
    border: none;
    border: 3px solid #033d68;
    font-size: 30px;
    font-family: 'sans-serif';
    font-weight: bold;
}

#fixed-add-btn:hover {
    -webkit-animation: spin-180 0.4s ease-in 1;
    -moz-animation: spin-180 0.4s ease-in 1;
    animation: spin-180 0.4s ease-in 1;
    background-color: var(--secondary);
    color: var(--primary);
}

/*Fixed add button - end*/

/* Overlay - start*/

#overlay {
    position: fixed;
    /*display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* Overlay - end */

/* Form - start */

#form {
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 600px;
    padding: 40px;
    border: 2px solid var(--modal-border);
    border-radius: 10px;
    background-color: var(--modal);
    text-align: center;
    transition: 200ms ease-in-out;
    background-color: #f8f3c9;
    margin-top: -300px;
    margin-left: -225px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--secondary);
}

form legend {
    font-size: 40px;
}

#input-title {
    display: block;
}

#title-warning {
    color: red;
    width: 285px;
    text-align: start;
    margin-top: 5px;
}

form input[type="text"], input[type="number"] {
    height: 50px;
    width: 285px;
    font-size: 1.3em;
    padding-left: 5px;
    font-family: 'Yellowtail';
    color: var(--secondary);
    border: 2px solid #033d68;
    background-color: #EFEFEF;
}

form input[type="text"]:focus, input[type="number"]:focus {
    border: 2px solid #033d68;
    outline: none;
}

#div-read {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#div-read label {
    font-size: 28px;
}

#div-read input {
    width: 20px;
    height: 20px;
    background-color: #EFEFEF;
}

#btn-submit {
    width: 150px;
    height: 45px;
    font-size: 20px;
    padding: 5px 10px;
    color: #033d68;
    border: 2px solid #033d68;
}

#btn-submit:hover {
    color: #f8f3c9;
}

/* Form - end */

/* Utilities - start*/

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 75px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: large;
    border-radius: 15px;
    font-family: inherit;
    font-size: 1em;
}

.btn:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.hidden {
    display: none;
}

.active {
    display: block;
}

/* Utilities - end*/

/* Keyframes - start */

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin-180 {
    100% {
        -moz-transform: rotate(180deg);
    }
}

@-webkit-keyframes spin-180 {
    100% {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes spin-180 {
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

/* Keyframes - end */